
<font size = "30"; color = "white">
<h1 align = "center">SESAME WARS!</h1>
<link href="/style.css" type="text/css" rel="stylesheet">
<div align="center">
<img src="http://s2.quickmeme.com/img/bc/bcf3f1cf7d0819ef8a9184068d6047d61
4adfe810b02f52e247da45b504df5b8.jpg">
</div>
<h2 align = "center">Sign in to play</h2></font>
<div align = "center">
<form action="/names" method="post">
  <label for="player_1_name">
    Player 1
    <input type="text" name="player_1_name" placeholder="Elmo">
  </label>
  <label for="player_2_name">
    Player 2
    <input type="text" name="player_2_name" placeholder="Cookie Monster">
  </label>
  <input type="submit" value="FIGHT!">
</form>
</div>

